body {
  background-image: url("https://image.munhwa.com/gen_news/202309/2023091301032227307001_b.jpg");
  background-size: cover;
}

.ad {
  width: 300px;
  margin: 30px auto 0px auto;
  text-align: center;
  background-position: center;
  background-size: cover;
  color: white;
}

.in {
  width: 850px;
  margin: 30px auto 0px auto;
  text-align: center;
  background-position: center;
  background-size: cover;
  color: white;
}

.t1 {
  color: white;
  font-size: 30px;
  text-align: left;
}

.t2 {
  text-align: left;
}

.card {
  border-color: black;
}

.mycard {
  width: 1200px;
  margin: 30px auto 50px auto;
}

.bor1 {
  text-align: left;
  height: 50px;
}

.bor2 {
  text-align: left;
  height: 75px;
}

.bor3 {
  text-align: left;
  height: 105px;
}

.img1 {
  border-radius: 8px;
}

.mypostinbox {
  width: 1200px;
  border: 1px solid white;
  margin: 20px auto 20px auto;
  padding: 20px;
  border-radius: 5px;
}

@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "yg-jalnan";
}

.modal-content1 {
  background-color: #4361ee;
  border-radius: 5px;
  width: 500px;
}

.modal-content2 {
  background-color: black;
  border-radius: 5px;
  width: 500px;
}

.modal-content3 {
  background-color: purple;
  border-radius: 5px;
  width: 500px;
}

.modal-content4 {
  background-color: #000066;
  border-radius: 5px;
  width: 500px;
}

.modal {
  color: white;
}
.text2 {
  color: white;
}
.card1 {
  color: white;
  width: 1200px;
  border: 1px solid white;
  border-radius: 5px;
  margin: 20px auto 20px auto;
  padding: 20px;
  border-radius: 5px;
}
